# Velclaw Deploy self-hosted runtime
POSTGRES_URL=postgres://USER:PASSWORD@HOST:5432/DB
VELCLAW_DEPLOY_API=http://velclaw-control-plane:3000
VELCLAW_DEPLOY_API_TOKEN=generate-a-long-random-token
VELCLAW_PUBLIC_HOST=velclaw.cfd
VELCLAW_PUBLIC_DOMAIN=velclaw.cfd
VELCLAW_TLS_EMAIL=ops@velclaw.cfd
VELCLAW_DEPLOY_POLL_MS=3000
